body {
    font-family: Arial;
    background-color: lightgray;
    padding: 30px;
}

.container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

input, select, button {
    padding: 10px;
    margin: 5px;
}

button {
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

td button {
    padding: 5px 10px;
    margin: 2px;
}